.App-link {
  color: #09d3ac;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.wrapper {
  max-width: 800px;
  margin: auto;
}

.headshot {
  max-width: 200px;
  border-radius: 50%;
}

.header,
.header a {
  margin-bottom: 40px;
  font-weight: bold;
  color: black;
  text-decoration: none !important;
}

.player-name {
  font-size: 2rem;
}

.score {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 4rem;
  font-weight: bold;
}

.tippy-popper {
  padding: 5px 5px 5px 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 1);
  max-width: 500px;
}

.mention-quote {
  font-style: italic;
}

.mention-scores {
  font-weight: bold;
}

.mention {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
